/MP.MF
/MP.properties
/MP_cs.properties
/MP_de.properties
/MP_es.properties
/MP_fr.properties
/MP_hu.properties
/MP_it.properties
/MP_ja.properties
/MP_ko.properties
/MP_pl.properties
/MP_pt_BR.properties
/MP_ru.properties
/MP_zh.properties
/MP_zh_HK.properties
/MP_zh_TW.properties
