/defaultMobilePatternSet.properties
/defaultMobilePatternSet.xml
/defaultMobilePatternSet_cs.properties
/defaultMobilePatternSet_de.properties
/defaultMobilePatternSet_es.properties
/defaultMobilePatternSet_fr.properties
/defaultMobilePatternSet_hu.properties
/defaultMobilePatternSet_it.properties
/defaultMobilePatternSet_ja.properties
/defaultMobilePatternSet_ko.properties
/defaultMobilePatternSet_pl.properties
/defaultMobilePatternSet_pt_BR.properties
/defaultMobilePatternSet_ru.properties
/defaultMobilePatternSet_zh.properties
/defaultMobilePatternSet_zh_HK.properties
/defaultMobilePatternSet_zh_TW.properties
